<p id="notice"><%= notice %></p>

<h1>Customer Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_profiles.each do |customer_profile| %>
      <tr>
        <td><%= link_to 'Show', customer_profile %></td>
        <td><%= link_to 'Edit', edit_customer_profile_path(customer_profile) %></td>
        <td><%= link_to 'Destroy', customer_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Profile', new_customer_profile_path %>
