<h1>Your Cart</h1>

<table class="row">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Description</th>
    </tr>
  </thead>

<tbody>
    <% current_cart.cart_items.each do |item| %>
      <tr class="col-md-16">
        <td><%= link_to image_tag(item.menu_item.image_url, class: "image"), restaurant_profile_path(item.menu_item.restaurant)  %></td>
        <td><%= link_to item.menu_item.name, restaurant_profile_path(item.menu_item.restaurant) %></td>
        <td><%= item.menu_item.description %></td>
        <td><%= link_to 'Remove', cart_item_url(item), method: :delete, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div class="total-price">
  <%= link_to 'Next', new_order_path, cart_items: current_cart.cart_items, class: "button" %>
</div>
