<div class="restaurant-profile container flex row">

    <div class="restaurant-details flex column">
      <h2 class="restaurant-name"> <%= @restaurant_profile.name %> </h2>
      <p class="address"> <%= @restaurant_profile.address %> </p>
      <p class="description"> <%= @restaurant_profile.description %> </p>

      <% if current_customer %>
        <%= render "order", menu_item: @menu_item, order_item: @order_item %>
      <% end %>

      <%= render "links", restaurant_profile: @restaurant_profile %>

    </div>

    <%= render "menu", restaurant_profile: @restaurant_profile %>

</div>
