<!DOCTYPE html>
<html>
  <head>
  <title>MysteryLunch</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Saira" rel="stylesheet">
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/42cf8c2449.js"></script>
  </head>

  <body class="flex column">

    <div class="header justify-between flex row">

      <!-- <div class="border justify-between flex row"> -->
        <h1 class="title"><%= link_to "Mystery Lunch", root_path %></h1>
        <div class="user flex row">

          <% if current_customer %>
            <h3 class="cart-text end"><%= render 'layouts/cart_text' %></h3>
          <% end %>


          <div class="users flex column justify-between">
            <%= render 'layouts/user' %>
          </div>

        </div>

      <!-- </div> -->

  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="content flex column align-center">
    <%= yield %>
  </div>

  </body>
</html>
